.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #93f62885;
  z-index: -3;
}

/* Imagen superior */
.imageTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  object-fit: cover;
  opacity: 0.4;
  z-index: 10;
}

/* Imagen inferior */
.imageBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  object-fit: cover;
  opacity: 0.4;
  z-index: -3;
  transform: rotate(180deg);
}