.mainContent {
    padding-bottom: 100px;
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
  .mainContent {
    padding-top: 200px;
    padding-bottom: 80px;
  }
}